#ipython_notebook img {
    display: none;
}

#ipython_notebook {
    padding: 20px;
    padding-bottom: 40px;
}
#ipython_notebook a:before {
    display: block;
    content: "Scientific Data Analysis (Designer)";
    font-family: Helvetica;
    font-size: 20pt;
    font-weight: bold;
    color: #BB442A;
}
